// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026 SnisLab
 */

/dts-v1/;

#include <dt-bindings/arm/qcom,ids.h>

#include "msm8953.dtsi"
#include "pm8953.dtsi"
#include "pmi8950.dtsi"

/ {
	model = "Lenovo Tab 4 8 Plus TB-8704F";
	compatible = "lenovo,tb8704f", "qcom,apq8053", "qcom,msm8953";
	chassis-type = "tablet";

	qcom,msm-id = <QCOM_ID_APQ8053 0>;
	qcom,board-id = <8 0>;

	aliases {
		serial0 = &uart_0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		ramoops@8ee00000 {
			compatible = "ramoops";
			reg = <0x0 0x8ee00000 0x0 0x80000>;

			console-size = <0x40000>;
			ftrace-size = <0x15000>;
			record-size = <0x5000>;
			pmsg-size = <0x2000>;
		};
	};
};

&uart_0 {
	status = "okay";
};
